@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-LightItalic.woff') format('woff');
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
    font-family: 'Montserrat', 'Tahoma', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    min-width: 1150px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  padding: 4px 0 10px 0;
  border-bottom: 1px solid #f5d581;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
}

.page-header__menu-wrapper {
  margin-left: auto;
  max-width: 700px;
}

.menu-primary-container .menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}


/* Отступы для пунктов меню первого уровня */
.menu-primary-container .menu > .menu-item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.menu-primary-container .menu-item {
  list-style: none;
}

.menu-primary-container .menu-item a {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  padding: 10px 25px;
}

.menu-primary-container .menu-item a:hover {
  color: #9f7303;
}

.menu-primary-container .menu-item-has-children {
  position: relative;
}

.menu-primary-container .menu-item-has-children::before {
  content: "";
  position: absolute;
  right: 5px;
  top: 13px;
  background-image: url("/img/arrow-down.svg");
  width: 13px;
  height: 9px;
  background-size: cover;
}

.menu-primary-container .menu-item-has-children > a {
  padding-right: 25px;
}

.menu-primary-container .sub-menu a {
  padding: 0;
}

.menu-primary-container .sub-menu {
  display: none;
  position: absolute;
  top: 36px;
  left: 25px;
  min-width: 200px;
  padding: 24px 16px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
  z-index: 2;
  box-sizing: border-box;
}

.menu-primary-container .menu-item-has-children:hover .sub-menu {
  display: block;
}

.menu-primary-container .sub-menu .menu-item {
  margin-bottom: 23px;
}

.menu-primary-container .sub-menu .menu-item:last-child {
  margin-bottom: 0;
}

.menu-primary-container .menu-item-styled {
  border: 1px solid #9f7303;
  border-radius: 8px;
}

.menu-primary-container .menu-item-styled:hover {
  background-color: #fffdf8;
}

.menu-primary-container .menu-item-styled:active {
  background-color: #fff7e3;
}

.page-body {
  background-color: #fffdf8;
  padding: 60px 0;
}

.wysiwyg-wrapper h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  margin-bottom: 24px;
}

.wysiwyg-wrapper h2 {
  font-size: 40px;
  font-weight: 500;
  color: #9f7303;
}

.wysiwyg-wrapper h3 {
  font-size: 32px;
  font-weight: 500;
  color: #9f7303;
}

.wysiwyg-wrapper p {
  margin-bottom: 32px;
}

.wysiwyg-wrapper ul,
.wysiwyg-wrapper ol {
  padding-left: 22px;
  margin-bottom: 50px;
}

.wysiwyg-wrapper li {
  margin-bottom: 16px;
  position: relative;
  list-style: none;
}

.wysiwyg-wrapper li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -18px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background-color: #f5d581;
}

.wysiwyg-wrapper blockquote {
  width: 70%;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  color: #9f7303;
  text-align: center;
  border-top: 1px solid #f5d581;
  border-bottom: 1px solid #f5d581;
  margin: 83px auto 114px auto;
  padding: 40px 100px;
}

.order {
  background-color: #f4efe2;
  padding: 70px 0;
}

.order-form {
  padding-bottom: 50px;
  border-bottom: 1px solid #f5d581;
}

.order__title {
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  color: #9f7303;
}

.order-form .wpcf7-textarea {
  background-color: #ffffff;
  border: 1px solid #f5d581;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
}

.order-form .wpcf7-text {
  background-color: #ffffff;
  border: 1px solid #f5d581;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px 16px 21px 16px;
  width: 50%;
}

.order-form .wpcf7-textarea::placeholder,
.order-form .wpcf7-text::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.3;
  color: #000000;
}

.order-submit-area {
  display: flex;
  align-items: center;
}

.order-form .wpcf7-submit {
  padding: 18px 40px;
  width: 285px;
  background-color: #9f7303;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  margin-right: 16px;
}

.order-text {
  width: 225px;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.7;
}

.reviews {
  background-color: #f4efe2;
  padding: 56px 0;
}

.review {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 28px auto;
  column-gap: 24px;
  margin-bottom: 38px;
}

.review__image-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9f7303;
}

.review__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  text-indent: -100vw;
  font-size: 12px;
}

.review__name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

.review__text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
}
